* {
  box-sizing: border-box;
}
ol {
list-style-position: inside;
}
.notes-text {
background-color: #c3e6cb;
}
div .notes-list, .notes-text {
border: 2px solid green;
}
textarea{
height: 100px;
width: 100%;

}